<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css">
        <title>Gordon Forms</title>
    </head>
    <body>
        <form method="post" action="/done">
            <input id="title" value="title" name="title" type="text">
            <div id="content">
                <!--//-->
            </div>
            <script>
                //
            </script>
        </form>
    </body>
</html>